/.idea
/node_modules
/www/bower_components
/frontend/.idea
/frontend/node_modules
/frontend/www/bower_components
/simple-training-domain/.settings
/simple-training-domain/bin
/simple-training-domain/target
/simple-training-frontend/.idea
/simple-training-frontend/node_modules
/simple-training-frontend/www/bower_components
/simple-training-domain/.classpath
/simple-training-domain/.project
/simple-training-web/bin
/simple-training-web/.settings
/simple-training-web/.project
/simple-training-web/.classpath
/simple-training-web/.gitignore
/simple-training-frontend/platforms
/simple-training-frontend/plugins
