<form name="form" class="md-inline-form">
    <div layout="row">
        <div layout="column" class="slider-animate" flex-md="50" flex-gt-md="50" flex-lg="50" flex-gt-lg="50" class="md-inline-form">
            <md-card layout="column" layout-padding layout-align="start start" >
                <div layout="column" flex style="width: 100%">
                    <div layout="row" >
                        <md-input-container flex>
                            <label>{{::'administracao.treino.classificacao'|translate}}</label>
                            <input ng-model="treino.classificacao" type="text" required="true" name="descricao">
                            <div ng-messages="form.descricao.$error" role="alert" multiple>
                                <div ng-message="required" >{{::'messages.required'|translate}}</div>
                            </div>
                        </md-input-container>
                        <md-input-container flex>
                            <label>{{::'administracao.treino.categoria'|translate}}</label>
                            <md-select ng-model="treino.categoria" required name="categoria" >
                                <md-option ng-disabled="true"><em>{{::'components.select'|translate}}</em></md-option>
                                <md-option ng-value="categoria" ng-repeat="categoria in categorias">{{::('administracao.treino.'+categoria)|translate}}</md-option>
                            </md-select>
                            <div ng-messages="form.categoria.$error" role="alert" multiple>
                                <div ng-message="required" >{{::'messages.required'|translate}}</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div layout="row" >
                        <md-input-container flex>
                            <label>{{::'administracao.treino.dataInicio'|translate}}</label>
                            <md-datepicker ng-model="treino.dataInicio" date-converter name="dataInicio" ng-required="true" ></md-datepicker>
                            <div ng-messages="form['dataInicio'].$error">
                                <div ng-message="required">{{::'messages.required'|translate}}</div>
                            </div>
                        </md-input-container>
                        <md-input-container flex>
                            <label>{{::'administracao.treino.dataFim'|translate}}</label>
                            <md-datepicker ng-model="treino.dataFim" date-converter name="dataFim" ng-required="true" ></md-datepicker>
                            <div ng-messages="form['dataFim'].$error">
                                <div ng-message="required">{{::'messages.required'|translate}}</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div layout="row">
                        <md-autocomplete flex
                                         ng-required="true"
                                         md-input-name="autocomplete"
                                         md-input-minlength="3"
                                         md-input-maxlength="40"
                                         md-selected-item="selectedItem"
                                         md-search-text-change="searchTextChange(treino.usuario.nome)"
                                         md-search-text="treino.usuario.nome"
                                         md-selected-item-change="selectedItemChange(item)"
                                         md-items="item in querySearch(treino.usuario.nome)"
                                         md-item-text="item.nome"
                                         md-floating-label="{{::'administracao.treino.nomeUsuario'|translate}}">
                            <md-item-template>
                                <span md-highlight-text="treino.usuario.nome" md-highlight-flags="^i">{{item.nome}}</span>
                            </md-item-template>
                            <md-not-found>
                                {{::'administracao.treino.empty'|translate}}
                            </md-not-found>
                            <div ng-messages="form.autocomplete.$error" role="alert" multiple ng-if="form.autocomplete.$touched">
                                <div ng-message="required" >{{::'messages.required'|translate}}</div>
                            </div>
                        </md-autocomplete>
                        <md-input-container flex>
                            <label>{{::'administracao.treino.emailUsuario'|translate}}</label>
                            <input ng-model="treino.usuario.email" type="text" name="email" disabled="true">
                        </md-input-container>
                    </div>
                    <div layout="row" ng-if="treino.exercicios.length > 0" layout-wrap>
                        <div flex="25" layout="row" ng-repeat="exercicio in treino.exercicios" class="md-whiteframe-1dp" layout-margin="2" ng-click="adicionarExercicio($index, exercicio)" layout-align="start start">
                            <img style="width: 95%;height: auto;" data-ng-src="{{exercicio.exercicio.image.type + ',' + exercicio.exercicio.image.src}}" class="md-card-image" alt="Washed Out" >
                        </div>
                    </div>
                </div>
            </md-card>
            <div layout="row" layout-align="end center" >
                <md-button class="md-warn" ng-click="treino = {}" >{{::'administracao.treino.limpar'|translate}}</md-button>
                <md-button class="md-primary" ng-disabled="form.$invalid" ng-click="form.$valid ? salvar(treino) : null" >{{::'administracao.treino.salvar'|translate}}</md-button>
            </div>
        </div>
    </div>
</form>