<md-dialog aria-label="Treino Executado" name="form">
    <form ng-cloak>
        <md-dialog-content >
            <div layout-padding>
                <md-input-container>
                    <label>{{::'treino.dataTreino'|translate}}{{a}}</label>
                    <md-datepicker ng-model="model" name="date" id="date" ng-required="true" aria-label="dd/MM/yyyy"></md-datepicker>
                    <div ng-messages="form['date'].$error">
                        <div ng-message="required">{{::'messages.required'|translate}}</div>
                    </div>
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="cancel()" class="md-warn">
                {{::'treino.cancel'|translate}}
            </md-button>
            <md-button ng-click="model ? callbacks.confirm(model) : null" ng-disabled="!model" class="md-primary">
                {{::'treino.confirm'|translate}}
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>