<md-tabs md-dynamic-height md-border-bottom ng-if="treinosRealizados">
    <md-tab label="{{::'treino.treino'|translate}} - {{::treino.treino.classificacao}} - {{::treino.data|date:'dd/MM/yy'}}" ng-repeat="treino in treinosRealizados" ng-disabled="!treino.treino.exercicios || treino.treino.exercicios.length <= 0">
        <md-card ng-repeat="exercicio in treino.treino.exercicios" layout="row" >
            <md-card-title flex="15" flex-xs="25">
                <md-card-title-text layout-align="center center" style="max-width: 150px;min-width: 60px">
                    <span class="md-headline"><img style="width: 100%;height: auto;" data-ng-src="{{exercicio.exercicio.image.type + ',' + exercicio.exercicio.image.src}}" class="md-card-image" alt="Washed Out" ></span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content layout="row" layout-padding layout-align="space-between" flex>
                <div layout="column" layout-align="center start" hide-xs flex="45">
                    <span class="line-h-22" title="Exercicio"><b>Exerc:</b> {{exercicio.exercicio.nome}}</span>
                    <span class="line-h-22" title="Descrição"><b>Desc:</b> {{exercicio.exercicio.descricao}}</span>
                    <span class="line-h-22" title="Tempo"><b>Temp:</b> {{exercicio.duracao}}</span>
                </div>
                <div layout="column" layout-align="center start" hide-xs flex="40">
                    <span class="line-h-22" title="Aparelho"><b md-tooltip="Aparelho">Apar:</b> {{exercicio.aparelho}}</span>
                    <span class="line-h-22" title="Alternativa"><b>Alter:</b> {{exercicio.alternativa}}</span>
                    <span class="line-h-22" title="Observação"><b>Obs:</b> {{exercicio.observacao}}</span>
                </div>
                <div layout="column" layout-align="center start" hide-gt-xs>
                    <span class="line-h-22" title="Exercicio"><b>Exerc:</b> {{exercicio.exercicio.nome}}</span>
                    <span class="line-h-22" title="Descrição"><b>Desc:</b> {{exercicio.exercicio.descricao}}</span>
                    <span class="line-h-22" title="Tempo"><b>Temp:</b> {{exercicio.duracao}}</span>
                    <span class="line-h-22" title="Aparelho"><b md-tooltip="Aparelho">Apar:</b> {{exercicio.aparelho}}</span>
                    <span class="line-h-22" title="Alternativa"><b>Alter:</b> {{exercicio.alternativa}}</span>
                    <span class="line-h-22" title="Observação"><b>Obs:</b> {{exercicio.observacao}}</span>
                </div>
            </md-card-content>
        </md-card>
    </md-tab>
</md-tabs>